@model Laobian.Share.Blog.Model.BlogPost
<div>
    <h2>
        <a href="@Model.GetFullLink()">@Model.Metadata.Title</a>
    </h2>
    <div class="bg-light p-2">
        <i class="bi bi-calendar-date"></i> <a href="#">@Model.GetPublishTimeString()</a>
        <i class="bi bi-tags"></i>
        @foreach (var tag in Model.Tags)
        {
            <a href="@tag.Link">@tag.Name</a>
        }
        <i class="bi bi-eye"></i> @Model.GetAccessCountString() 次阅读
        <i class="bi bi-chat-square-text"></i> @Model.GetCommentCount() 次评论

    </div>
    <article>
        @Html.Raw(Model.GetHtmlContent())
    </article>
</div>

<div>
    <p>@Model.GetCommentCount() 次评论 </p>
    <hr/>
    <ul class="list-group list-group-flush">
        @for (var i = 0; i < 10; i++)
        {
            <li class="list-group-item d-flex">
                <div style="width: 100px; height: auto;" class="mx-3 d-flex flex-column justify-content-start align-items-center d-none d-sm-block">
                    <div>
                        <img src="https://discourse-cdn.codinghorror.com/user_avatar/discourse.codinghorror.com/chx1975/45/76610_2.png" alt="">
                    </div>
                    <div>
                        <small>192.168.2.243</small>
                    </div>
                </div>
                <div>
                    <header class="d-flex">
                        <span>Joe Duff</span>
                        <span class="ms-auto">2020-02-03 14:24:21</span>
                    </header>
                    <article>
                        You mentioned you want a truly powerful system but I am surprised you don’t go for AMD Ryzen processor, wouldn’t it gives u more bang for the bucks? I got a Ryzen 2700 build (also SFF) about 2 years ago, then few months back just build a Ryzen 3900 for 12 cores/24 threads, very happy with it. If I am not wrong for same # of cores Ryzen has lower TDP as well which make cooling, esp SFF build, easier. Just my experience with Ryzen so far … no regret :slight_smile:
                    </article>
                    <footer class="d-flex justify-content-start">
                        <div class="me-3">
                            <i class="bi bi-reply"></i> <a href="#">回复</a>
                        </div>
                        <div>
                            <i class="bi bi-chat-square-quote"></i> <a href="#">引用</a>
                        </div>
                    </footer>
                </div>
            </li>
        }
    </ul>
    <div>
        <form class="row g-3">
            <div class="col-md-6">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" placeholder="" autocomplete="off">
            </div>
            <div class="col-md-6">
                <label for="emailAddr" class="form-label">Email address</label>
                <input type="email" class="form-control" id="emailAddr" placeholder="name@example.com" autocomplete="off">
            </div>
            <div class="col-12">
                <label for="comment" class="form-label">Example textarea</label>
                <textarea class="form-control" id="comment" rows="3"></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
        <article>
            Preview...
        </article>
    </div>
</div>