@using Laobian.Share.Util
@model List<Laobian.Blog.Models.TagViewModel>
<div class="text-center">
    <h1 class="display-4">List of Archives</h1>
    <p>We have @Model.Count tags.</p>
</div>
<div class="accordion accordion-flush">
    @foreach (var item in Model)
    {
        var headerId = StringUtil.GenerateRandom(10);
        var bsTargetId = StringUtil.GenerateRandom(10);
        <div class="accordion-item">
            <h2 class="accordion-header" id="@headerId">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@bsTargetId" aria-expanded="false" aria-controls="@bsTargetId">
                    @item.Key nian
                </button>
            </h2>
            <div id="@bsTargetId" class="accordion-collapse collapse" aria-labelledby="@headerId">
                <div class="accordion-body">
                    <p class="lead">@item.Tag.Description</p>
                    <ul>
                        @foreach (var post in item.Posts)
                        {
                            <li>
                                <a href="@post.GetFullLink()">@post.Metadata.Title</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>